*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.all{
    box-sizing: border-box;
}
.content{
    width: 95%;
    margin:auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(228, 223, 223);
    
}
#table{
    width: 100%;
}
.item-content{
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin:auto;
    border-bottom: 1px solid rgb(228, 223, 223);
    
}
.text-content{
    padding-left: 150px;
    box-sizing: border-box;
}
.gray {
    color:rgb(172, 169, 169);
}
.author{
 font-size: 13px;
}

.date{
    font-size: 11px;
    margin-top: 20px;
    height: 25px;
}

.text-date{
    margin-left: 5px;
}

.black{
    margin-bottom: 0px;
}
.img{
    float: left;
    height:auto;
    width: auto;
}
.ico{
    width: 13px;
    float: left;
}